fastapi
uvicorn[standard]

pydantic
pydantic-settings
python-dotenv

sqlalchemy
alembic
pymysql
aiomysql

python-jose[cryptography]
passlib[bcrypt]
bcrypt
python-multipart
email-validator

pymupdf
pdfplumber
pytesseract
Pillow

transformers
torch
accelerate
huggingface-hub
sentence-transformers
safetensors

langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-huggingface
langgraph

faiss-cpu

numpy
pandas
scikit-learn

prophet

APScheduler

python-docx
openpyxl
reportlab

httpx
requests

loguru
orjson
tqdm
tenacity

networkx

seaborn
plotly
matplotlib

pytest
pytest-asyncio
pytest-cov